.DS_Store
.cursor
.claude
.vscode
vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.lock
.idea
*.terraform*
*tfplan*
*_build*
*_generated/*
!docs/_generated/.gitkeep
!.terraform-docs.yml